
@charset "UTF-8"; 
/* CSS Document */ 
  
* { margin:0; padding:0; } 
  
body { 
  background:url(../images/background.png) repeat-x #f8f8f8; 
  color:black; 
  font-family:"Belle","Comic Sans MS", cursive; 
  font-size:16px; 
  line-height:27px;
} 

#game {
    position: absolute;
    top: 30;
    left: 75;
    z-index: 0;
}

#edit_button { 
	position: absolute;
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    left: 737px; 
  	top: 300px; 
  	width: 139px; 
  	height: 67px;
}

#new_button { 
  position: absolute; 
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  left: 970px; 
  top: 350px; 
  width: 139px; 
  height: 67px; 
  z-index:99999; 
  cursor:pointer; 
}

.form {
    z-index: 10; 
    position:relative;
  	left: 970px; 
    top: 170px; 
	width: 135px;
}

#gravity_button { 
  position: absolute; 
  background-color: #4CAF50;
  color: black;
  width: 139px;
  height: 67px;
  left: 970px; 
  top: 200px; 
  padding: 12px 20px;
  resize: none;
}

#gravText {
	position: absolute;
	color: rgba(255,255,255,1); 
	background-colour: rgba(255,255,255,0.3);
	left: 1120px;
	height: 10px;
	padding: 12px 20px;
	resize: none;
}
