
@charset "UTF-8"; 
/* CSS Document */ 
  
* { margin:0; padding:0; } 
  
body { 
  background:url(../images/background.png) repeat #f8f8f8; 
  color:black; 
  font-family:"Belle","Comic Sans MS", cursive; 
  font-size:16px; 
  line-height:27px;
} 

#home_button { 
  position: absolute; 
  top:10px; 
  left:10px; 
  z-index:999999; 
  cursor:pointer;
}

#draw_image {
  position: absolute;
  left: 50%;
  margin-left: -294px;
  top: 15px;
  resize: none;
}

#game_image {
  position: absolute;
  left: 50%;
  margin-left: -294px;
  top: 700px;
  resize: none;
}

#drawText {
  position: absolute;
  color: black; 
  background-colour: rgba(255,255,255,0.3);
  left: 50%;
  margin-left: -320px;
  top: 310px;
  padding: 12px 20px;
  resize: none;
}

#gameText {
  position: absolute;
  color: black; 
  background-colour: rgba(255,255,255,0.3);
  left: 50%;
  margin-left: -320px;
  top: 1000px;
  padding: 12px 20px;
  resize: none;
}
