@charset "UTF-8"; 
/* CSS Document */ 
  
* { margin:0; padding:0; } 
  
body { 
  background:url(../images/background.png) repeat-x #f8f8f8; 
  color: black; 
  font-family:"Belle","Comic Sans MS", cursive; 
  font-size:large; 
  line-height:50px;
} 
  
#wrapper { 
  position:relative; 
  width:960px; 
  margin:0 auto; 
  padding-top:50px;
  padding-left: 75px;
} 
  
#draw_button { 
  position: absolute;
  background-color: #4CAF50;
  font-size:x-large;
  color: white;
  width: 200px;
  height: 100px;
  left: 400px; 
  top: 150px; 
  padding: 12px 20px;
  resize: none;
}

#help_button { 
  position: absolute;
  background-color: #4CAF50;
  font-size:x-large;
  color: white;
  width: 200px;
  height: 100px;
  left: 400px; 
  top: 325px; 
  padding: 12px 20px;
  resize: none;
}

